// Auto-clear headings
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

// Larger title font on dedicated article/static pages
.single, .page {
  .entry-title {
    @include font-size(3.25);
  }
}

// Remove margins of title/content on the home and archive pages
.home, .archive {
  .entry-title {
    margin-bottom: 0;
    > a {
      font-family: $font__archive-title;
    }
  }
  .entry-content {
    margin-top: 0;
  }
}

// All entry titles regardless of size have the same relative line-height
.entry-title {
  line-height: 1.25;
}

// Add a gold background for page headers on archive pages
.archive .page-header {
  background-color: gold;
  padding-left: 1em;
  .page-title {
    margin-top: 0;
  }
}
