html {
  box-sizing: border-box;
}

// Inherit box-sizing to make it easier to change the property for components
// that leverage other behavior.
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Fallback for when there is no custom background color defined.
  background: $color__background-body;
}

#main {
  float: left; // Let it expand with its floated children
  margin-bottom: 3em;
  width: 100%;
}

#masthead {
  //background-color: $color__background-header;
  padding: 1em;
  position: relative;
}

blockquote, q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}


// Automatically hide the site-title if site-logo is added
// Note: you can replace the important tag with more specific selector
body.has-site-logo {
  // .site-title, .site-description {
  //   display: none !important;
  // }
}

.alert {
  padding: 10px;
}

.alert.alert-info {
  background-color: #CEE8FF;
  color: #447FB3;
}

.alert.alert-warn {
  background-color: #F9EDB1;
  color: #5C511A;
}

.alert.alert-good {
  background-color: #DDF2CC;
  color: #3E8902;
}

.alert.alert-fail {
  background-color: #FFD9D5;
  color: #8E3F16;
}

@import "lists";

img {
  height: auto; // Make sure images are scaled correctly
  max-width: 100%; // Adhere to container width
}

@import "tables";

#colophon {
  padding: 1em;
  background-color: $color__background-header;
}
