@media screen and (min-width: 640px) {
  .home, .archive, .search {
    .hentry {
      width: 48.5%;
      margin: 1% 0 0 1%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home, .archive, .search {
    .hentry {
      width: 32%;
      margin: 1% 0 0 1%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home, .archive, .search {
    .hentry {
      width: 23.75%;
      margin: 1% 0 0 1%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .home, .archive, .search {
    .hentry {
      width: 18.8%;
      margin: 1% 0 0 1%;
    }
  }
}