a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

#masthead a, #colophon a {
  &, &:visited {
    color: $color__link-header;
  }
  &:hover {
    color: $color__link-header-hover;
  }
  text-decoration: none;
}

.entry-title > a {
  text-decoration: none;
  color: #232323;

  &:focus {
    color: #B55858;
    outline: 0;
  }
}

.entry-content a {
  font-weight: bold;
}

.tags-links {

  > a {
    border: 1px solid #ABABAB;
    padding: 4px 10px 4px 4px;
    text-decoration: none;
    background-color: #FFFDE0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 50%;
    font-family: 'Open Sans', Helvetica, 'Segoe UI', sans-serif;
    font-weight: bold;
    color: #232323;
  }
}

.nav-links {
  > div {
    width: 50%;
    line-height: 36px;
    border: 2px solid #DFE4E7;
    overflow: hidden;
    text-overflow: ellipsis;
    > a {
      padding: 4px;
      border-radius: 15px;
      white-space: nowrap;
      &:focus {
        border-color: #232323;
        outline: 0;
      }
    }
  }
}
