.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.site-logo-link {
  display: inline-block;
}

.site-branding {
  display: inline-block;
}

.home, .archive, .search {
  .hentry {
    width: 98%;
    height: $blurb-height;
    margin: 1% 0 0 1%;
    float: left;
    overflow: hidden;
  }
}

.single, .page {
  #content {
    max-width: 600px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  .hentry {
    //font-size: 1.25em;
  }
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-info {
  color: #E8C1C1;
}

.zk-full {
  #masthead {
    padding: 0.25em;
  }
  .site-logo {
    width: 120px;
  }
  #content {
    max-width: 100%;
    padding: 0;
  }
  header.entry-header {
    background-color: #000;
    color: #fff;
    padding: 8em 0;
    h1, .entry-meta {
      margin: 0 auto;
      max-width: 900px;
    }
  }
  .entry-content, .entry-footer, .post-navigation, #comments {
    max-width: 900px;
    margin: 0 auto;
  }
}
